$stitchSize: 0.5em;

.cross-image {
  background-size: cover;
  background-color: beige;
  position: relative;
  .cross-image-inner {
    position: absolute;
    background-image: url("./assets/cross-pixel.png");
    background-size: #{$stitchSize};
    z-index: 1;
  }
  canvas {
    filter: brightness(1.75);
    position: absolute;
  }
}
