$stitchSize: 0.5em;

.cross-image {
  background-color: white;
  height: 400px;
  width: 400px;
  background-size: cover;
  filter: brightness(1.75);
  background-color: beige;

  .cross-image-inner {
    height: 100%;
    width: 100%;
    background-image: url("./assets/cross-pixel.png");
    background-size: calc(0.5em * 2);
  }
  img {
    width: 100%;
    image-rendering: pixelated;
    filter: blur(8px);
  }
}
